body {
  background-color: lightblue;
}
.heliana {
	color: darkblue;
	font-family:comic;
	text-align: center;
	font-size: 50px
}
.resaltar{
	color: blue;
	font-family:comic;
	text-align: center;
	font-size: 28px	
}
h1 {
  color: white;
  text-align: center;
  font-family: Georgia, “Times New Roman”
}

p {
  font-family: verdana;
  font-size: 20px;
}